<div class="page_layout">
    <mat-card class="title_card">
        <mat-card-title>{{info.title}}</mat-card-title>
        <img mat-card-image class="image" src='{{ info.image }}' alt="{{ info.title }}" >
    </mat-card>

    <mat-card class="instructions">
        <mat-card-title>Directions:</mat-card-title>
        <ul class="recipe_list" *ngIf="steps">
        <li *ngFor="let step of steps; index as i">
            <p>Step # {{ step.number }} </p>
            <!-- <ul>
        
            <li *ngFor="let ingredient of step.ingredients; index as i">
            <p>{{ingredient.name}}</p>
        </li>
            </ul> -->
            <p>{{ step.step }}</p>

        </li>
    </ul>
    </mat-card>

    <mat-card class="ingredient_list">
        <mat-card-title>Make sure you have:</mat-card-title>
        <ul *ngIf="ingredients">
            <li *ngFor="let ingredient of ingredients; index as i">
                <p>{{ ingredient.amount.us.value }} {{ ingredient.amount.us.unit }} {{ ingredient.name }}</p>
            </li>
        </ul>
    </mat-card>



    <mat-card class="equipment_list">
        <mat-card-title>What you'll need</mat-card-title>
    
                <ul>
                <li *ngFor="let equip of equipment; index as i">
                    <p>{{equip}}</p>
                </li>
                </ul>    
    
    </mat-card>



</div>