.ing_list{
    color: red;
}
.example-card {
  max-width: 300px;

}

.recipe_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 15px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.example-form-field{
  /* width: 500px; */
  padding: 10px;
}
.example-card{
  max-width: 270px;
  margin: 30px;
}